.cheetah-picture {
  padding: 3em; }

.puma-picture {
  padding: 3em; }

.jaguar-picture {
  padding: 3em; }

.panther-picture {
  padding: 3em; }

.tiger-picture {
  padding: 3em; }

.leopard-picture {
  padding: 3em; }
